# The <code>astype()</code> Method
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

data = pd.read_csv("datasets/basketball.csv").dropna(how="all")

In [2]:
data.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School

In [3]:
data.dtypes

League          object
Season          object
Stage           object
Player          object
Team            object
GP               int64
MIN            float64
FGM              int64
FGA              int64
3PM              int64
3PA              int64
FTM              int64
FTA              int64
TOV              int64
PF               int64
ORB              int64
DRB              int64
REB              int64
AST              int64
STL              int64
BLK              int64
PTS              int64
birth_year     float64
birth_month     object
birth_date      object
height          object
height_cm      float64
weight         float64
weight_kg      float64
nationality     object
high_school     object
dtype: object

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53798 entries, 0 to 53797
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53798 non-null  object
 1   Season       53798 non-null  object
 2   Stage        53798 non-null  object
 3   Player       53798 non-null  object
 4   Team         53787 non-null  object
 5   GP           53798 non-null  int64
 6   MIN          53798 non-null  float64
 7   FGM          53798 non-null  int64
 8   FGA          53798 non-null  int64
 9   3PM          53798 non-null  int64
 10  3PA          53798 non-null  int64
 11  FTM          53798 non-null  int64
 12  FTA          53798 non-null  int64
 13  TOV          53798 non-null  int64
 14  PF           53798 non-null  int64
 15  ORB          53798 non-null  int64
 16  DRB          53798 non-null  int64
 17  REB          53798 non-null  int64
 18  AST          53798 non-null  int64
 19  STL          53798 non-null  int64
 20  BLK          53798 non-null  int64
 21  PTS          53798 non-null  int64
 22  birth_year   53479 non-null  float64
 23  birth_month  53479 non-null  object
 24  birth_date   53479 non-null  object
 25  height       53724 non-null  object
 26  height_cm    53724 non-null  float64
 27  weight       49232 non-null  float64
 28  weight_kg    49232 non-null  float64
 29  nationality  53791 non-null  object
 30  high_school  23551 non-null  object
dtypes: float64(5), int64(16), object(10)
memory usage: 13.1+ MB

In [5]:
data['birth_year'] = data['birth_year'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [6]:
data['birth_year'].fillna(0, inplace=True)

In [7]:
data['birth_year'] = data['birth_year'].astype('int')

In [8]:
data.head(3)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School

In [9]:
data["Team"].nunique()

793

In [10]:
data['Team'].fillna("None", inplace=True)

In [11]:
data['Team'] = data['Team'].astype('category')

In [12]:
data.head(3)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School

In [13]:
data['birth_month'] = data['birth_month'].astype('category')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53798 entries, 0 to 53797
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53798 non-null  object
 1   Season       53798 non-null  object
 2   Stage        53798 non-null  object
 3   Player       53798 non-null  object
 4   Team         53798 non-null  category
 5   GP           53798 non-null  int64
 6   MIN          53798 non-null  float64
 7   FGM          53798 non-null  int64
 8   FGA          53798 non-null  int64
 9   3PM          53798 non-null  int64
 10  3PA          53798 non-null  int64
 11  FTM          53798 non-null  int64
 12  FTA          53798 non-null  int64
 13  TOV          53798 non-null  int64
 14  PF           53798 non-null  int64
 15  ORB          53798 non-null  int64
 16  DRB          53798 non-null  int64
 17  REB          53798 non-null  int64
 18  AST          53798 non-null  int64
 19  STL          53798 non-null  int64
 20  BLK          53798 non-null  int64
 21  PTS          53798 non-null  int64
 22  birth_year   53798 non-null  int32
 23  birth_month  53479 non-null  category
 24  birth_date   53479 non-null  object
 25  height       53724 non-null  object
 26  height_cm    53724 non-null  float64
 27  weight       49232 non-null  float64
 28  weight_kg    49232 non-null  float64
 29  nationality  53791 non-null  object
 30  high_school  23551 non-null  object
dtypes: category(2), float64(4), int32(1), int64(16), object(8)
memory usage: 12.3+ MB

**Challenge:**
##### <span style='color: green'>Take any column with int32 or int64 and convert it to float64 and observe wheather it is converting or not. If it converts, observe the memory usage wheather it is increasing or decreasing.</span>  Let me know your results in the comment section below.

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html
* https://www.geeksforgeeks.org/python-pandas-dataframe-astype/